:root {
    --blue-grey-50: #DFE1E2;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-800: #485A64;
    --blue-grey-900: #263238;
}

body {
    color: #000;
    text-align: center; 
    font-family: "arial", sans-serif;
}

header, footer {
    background-color: var(--blue-grey-900);
    color: white;
    padding: 2rem 2rem;
}



h2 {
    font-family: "libre baskerville" , serif;
    font-weight: 500;
    font-size: 2rem;
}

h1, footer h2 {
    font-family: "libre baskerville" , serif;
    font-size: 3.5rem;
    font-weight: 500;
}

header img, 
footer img {
    width: 6rem;
    height: 4rem;
}

header div, footer div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
nav {
    padding: 1.5rem 0rem .5rem 0rem;
}
header a{
    text-decoration: none;
    color: white;
    margin: 0 1rem 0 1rem;
}

.section1 {
    background-color: var(--blue-grey-50);
    padding: 1rem 1rem;
}

.section1 h2 {
    margin: 0 auto;
    padding: 2rem 0rem 2rem 0rem;
}

.section1 img{
    max-width:95%;
    border-radius: 0.5rem;
    padding-bottom: 1.5rem;
}

figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0rem 0rem;
    align-items: center;
    
}

figure img {
    width: 100%;

}

figcaption {
    text-align: left;
    width: 100%;
    padding: 0rem 0rem 1rem 1rem;
}

.section1 h3, .section1 p {

    text-align: left;
}


.section2 {
    background-color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.section3 {
    background-color: var(--blue-grey-200);
    padding: 2rem 1.5rem;
    color: white;
    text-align: left;

}

.section4{
    background-color: var(--blue-grey-800);
    padding: 1rem 1.5rem;
    color: white;
    text-align: left;
}

.section4 ul{
    padding-left: 1rem;
}

.section4 li{
    padding: 1rem 0rem;
}

.section4 h2{
    padding-left: 0.5rem;
}

.bold {
    font-weight: 700;
}


footer {
    color: white;
}
footer div {
    text-align: left;
}
footer div h2{
    margin: 0rem 0rem;
}

footer p {
    font-size: .75rem;
    font-weight: lighter;
    margin: 0rem 1rem 2rem 1rem;
}

footer nav {
    display: flex;
    justify-content: space-between;

}

footer nav ul {
    list-style-type: none; 


}

.ul1, .ul2, ul3 {
    display: flex;
    flex-direction: column;
    padding: 0rem;
}

footer nav li {
    padding: 0.5rem 0; 
    margin: 0rem 0rem; 
    font-size: 0.75rem;
}

footer nav li a {
    text-decoration: none;
    color: white;
}

footer nav ul li:first-child {

    font-weight: 700;
    font-size: .85rem;
}


@media screen and (min-width: 768px) {
    .container-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .title {

        display: flex;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column; 
        padding-right: 1rem;;
    }

    .section1 h2{
        padding-bottom: 2rem;
    }


    
    .container1, .container2 {
        display: flex;
        align-items: flex-start; 
        justify-content: space-between; 
        gap: 1rem; 
    }

    .container1 .item, 
    .container2 .item2 {
        flex: 1;
    }

    .container1 .item1, 
    .container2 .item3 {
        flex: 1; 
    }

    
    .container2 {
        flex-direction: row-reverse;
    }

   


    .item1, .item3 {
        flex: 1;
    }
    
    .item, .item2 {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .section3container {
        display: flex;
        justify-content: space-around;
        gap: 1.5rem;
    }

    .section3 h2 {
        text-align: center;
    }

    .section4container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .column {
        width: 48%;
    }

    .section4 li {
        padding: 0.25rem 0rem;
    }


    .footercontainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
    }

    .titlefooter {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        justify-content: flex-start;
    }

    footer nav {
        padding-top: 0rem;
    }
}

@media screen and (min-width: 1440px) {
    body{
       max-width: 1400px; 
    }

    .section1 {
        padding: 2rem 11rem;
        margin: 0 auto; 
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem; 
    }

    .container1, .container2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;
    }

    .container1 .item, 
    .container2 .item2 {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .container1 .item1, 
    .container2 .item3 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 0.5rem;
    }

    .item img, .item2 img {
        width: 100%; 
        max-width: 500px; 
        height: auto;
        display: block;
    }
    .section2 {
        padding: 2rem 9rem;

    }
    .section3{
        padding: 2rem 8.75rem;
    }

    .section4 {
        padding: 3rem 10rem;
    }

    .section4container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem; 
        width: 100%;
    }

    .column:first-child {
        flex: 1; 
    }

    .column:last-child {
        flex: 2; 
    }

    .section4 img {
        max-width: 100%;
        display: block;
    }


    .footercontainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        padding: 1.5rem 2rem;
        width: 80%;
    }
    
    .titlefooter {
        display: flex;
        align-items: center; 
        flex: 1;
    }
    
    footer nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        gap: 0rem;
    
    }
    
    footer nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    footer nav li {
        padding: 0.25rem 0; 
    }

    .titlefooter p{
        max-width: 50%;
        text-align: left;
        margin: 0;
    }

    .footernote{
        max-width: 40%;
        text-align: center;
        margin: 0 auto;
    }



}